/* @link https://utopia.fyi/generator-mk-ii?c=320,14,1.2,1140,20,1.25,6,2, */

:root {
    --auto-grid-min-size: 16rem;

    --step--2: clamp(0.6513rem, 0.6244rem + 0.1341vw, 0.72rem);
    --step--1: clamp(0.7813rem, 0.7349rem + 0.2317vw, 0.9rem);
    --step-0: clamp(0.9375rem, 0.8643rem + 0.3659vw, 1.125rem);
    --step-1: clamp(1.125rem, 1.0152rem + 0.5488vw, 1.4063rem);
    --step-2: clamp(1.35rem, 1.1907rem + 0.7963vw, 1.7581rem);
    --step-3: clamp(1.62rem, 1.3946rem + 1.1268vw, 2.1975rem);
    --step-4: clamp(1.9438rem, 1.6303rem + 1.5671vw, 2.7469rem);
    --step-5: clamp(2.3325rem, 1.903rem + 2.1476vw, 3.4331rem);
    --step-6: clamp(2.7994rem, 2.2172rem + 2.911vw, 4.2913rem);

    --bg-color: #1f1f1f;
    --text-color: #fff;
    --card-link-color: #1f1f1f;
    --other-links-color: #fff;
    --link-hover-color: #a1a1a1;
    --pre-bg-color: #3b3b3b;
    --border-color: #eee;
}

body {
    font-family: 'Mulish', sans-serif;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: var(--card-link-color);
}

a:hover {
    color: var(--link-hover-color);
}

span.title {
    margin-top: 0;
    margin-bottom: 6rem;
    text-align: center;
    font-size: var(--step-3);
    display: block;
}

main {
    max-width: 65rem;
    margin: 0 auto;
    padding: 6rem 1rem;
}

.auto-grid>* {
    max-width: 400px
}

.auto-grid>*+* {
    margin-top: 3rem;
}

@supports(display: grid) {
    .auto-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 2fr));
        grid-gap: 3rem;
    }

    .auto-grid>* {
        max-width: unset;
    }

    .auto-grid>*+* {
        margin-top: unset;
    }
}

footer {
    margin-top: 6rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--border-color);
}

footer p {
    font-size: var(--step-0);
}

.grid-item {
    background-color: #fff;
    overflow: hidden;
}

.grid-item-img {
    display: block;
}

.grid-item-img img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.grid-item-body {
    padding: 1.5rem 1.125rem;
}

.grid-item-body strong {
    font-weight: 600;
    margin-top: 0;
    font-size: var(--step--1);
    display: block;
}

.grid-item-body small {
    font-size: var(--step--1);
    color: #1f1f1f;
    display: blocl;
}

article {
    max-width: calc(34rem + 1vw);
    margin: 0 auto;
}

article a {
    color: var(--text-color);
    text-decoration: underline;
}

article a:hover {
    color: var(--link-hover-color);
}

article h2 {
    font-size: var(--step-5);
    line-height: 1.2;
    margin-bottom: 0.75rem;
    letter-spacing: -1px;
}

article h3 {
    font-size: var(--step-4);
    line-height: var(--step-4);
    margin-top: 4.5rem;
}

article h6 {
    font-size: var(--step-0);
    margin: 0;
    font-weight: 400;
}

article header {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1.5rem;
}

article section.buttons {
    padding: 1.5rem 0 1.5rem 0;
    margin-bottom: 2.625rem;
    border-bottom: 1px solid var(--border-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
}

section a.button {
    appearance: button;
    text-decoration: none;
    background-color: var(--text-color);
    color: var(--bg-color);
    text-align: center;
    font-size: var(--step--1);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 1.25rem 1rem;
}

section a.button:hover {
    background-color: var(--pre-bg-color);
    color: var(--text-color);
}

article p {
    font-size: var(--step-0);
    max-inline-size: 100%;
}

article p:not(:first-of-type) {
    margin-top: 1.5rem;
}

article code {
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 600;
}

pre {
    background-color: var(--pre-bg-color);
    margin: 1.5rem 0;
    padding: 0rem 1rem;
    overflow-x: scroll;
}

pre code {
    font-family: 'JetBrains Mono', monospace;
    font-size: var(--step--1);
}