/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1140,20,1.25,3,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
    --fluid-min-width: 320;
    --fluid-max-width: 1140;

    --fluid-screen: 100vw;
    --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
}

@media screen and (min-width: 1140px) {
    :root {
        --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
}

:root {
    --f--2-min: 11.11;
    --f--2-max: 12.80;
    --step--2: calc(((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) * var(--fluid-bp));

    --f--1-min: 13.33;
    --f--1-max: 16.00;
    --step--1: calc(((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) * var(--fluid-bp));

    --f-0-min: 16.00;
    --f-0-max: 20.00;
    --step-0: calc(((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) * var(--fluid-bp));

    --f-1-min: 19.20;
    --f-1-max: 25.00;
    --step-1: calc(((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) * var(--fluid-bp));

    --f-2-min: 23.04;
    --f-2-max: 31.25;
    --step-2: calc(((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) * var(--fluid-bp));

    --f-3-min: 27.65;
    --f-3-max: 39.06;
    --step-3: calc(((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) * var(--fluid-bp));
}

:root {
    --auto-grid-min-size: 16rem;
    --baseline: 1.5;

    --bg-color: #fff;
    --text-color: #161616;
    --accent-color: #d93838;
    --border-color: #8d8d8d;
    --card-body-bg-color: #fff;
    --code-bg-color: #161616;
    --code-color: #fff;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--step-0);
    line-height: var(--baseline);
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: .3s;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: var(--step-3);
    font-weight: 800;
}

h2 {
    font-size: var(--step-2);
    font-weight: 600;
}

h3 {
    font-size: var(--step-1);
    font-weight: 600;
}

a, .grid-item-img img {
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.grid-item-body a:hover, .link a:hover, footer a:hover {
    color: var(--accent-color);
}

.grid-item-body a:hover {
    text-decoration: underline;
    text-decoration-color: var(--text-color);
}

/* a:hover {
    color: var(--accent-color);
    text-decoration-color: var(--text-color);
} */

main {
    max-width: 65rem;
    margin: 0 auto;
    padding: 6rem 1rem;
}

header {
    margin-bottom: 6rem;
}

.title {
    letter-spacing: -1px;
    line-height: var(--step-3);
    color: var(--accent-color);
    display: inline-block;
}

ul.menu {
    float: right;
    margin: 0;
    padding: 0;
}

ul.menu li.link {
    display: inline;
}

li.link:first-of-type {
    margin-right: 0.625em;
}

li.link a {
    text-decoration: none;
}

li.link svg {
    width: 28px;
    height: 28px;
}

.auto-grid>* {
    max-width: 400px;
}

.auto-grid>*+* {
    margin-top: 3rem;
}

@supports(display: grid) {
    .auto-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 2fr));
        grid-gap: 3rem;
    }

    .auto-grid>* {
        max-width: unset;
    }

    .auto-grid>*+* {
        margin-top: unset;
    }
}

footer {
    margin-top: 6rem;
}

footer p {
    font-size: var(--step--1);
    text-align: center;
}

footer strong {
    font-weight: 500;
}

.grid-item {
    background-color: var(--card-body-bg-color);
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

.grid-item-img {
    display: block;
}

.grid-item-img img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.grid-item-img img:hover {
    opacity: 0.5;
}

.grid-item-body {
    padding: 1.2rem 1.125rem;
}

.grid-item-body strong {
    font-weight: 500;
    margin-top: 0;
    display: block;
}

.grid-item-body small {
    font-size: var(--step--1);
    font-weight: 300;
    display: block;
}

article {
    max-width: calc(40rem + 1vw);
    margin: 0 auto;
}

article header {
    margin-top: 2.625rem;
    margin-bottom: 3rem;
}

article a {
    color: var(--text-color);
    text-decoration: underline;
}

article a:hover {
    color: var(--link-hover-color);
}

article h1 {
    letter-spacing: -1px;
    /* border-bottom: 2px solid var(--accent-color);
    display: inline-block;
    padding-bottom: 0.5px; */
    margin-bottom: 0.75rem;
}

article span.sketch-info {
    display: block;
}

article h2 {
    line-height: var(--step-2);
}

article h2:not(:first-of-type) {
    margin-top: 3rem;
}

article p {
    font-size: var(--step-0);
    max-inline-size: 100%;
    margin-top: 1.125rem;
}

article code {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--code-bg-color);
    color: var(--code-color);
    font-size: var(--step--1);
    padding: 2px 4px;
}

pre {
    overflow-x: scroll;
    margin: 1.5rem 0rem;
}

.hljs {
    padding: 0.9rem 0.625rem !important;
}

article figure {
    padding: 1.5rem 0;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

section#sketch {
    width: calc(45rem + 1vw);
    height: calc(25rem + 1vw);
    background-color: #fff;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

section#sketch>canvas {
    width: 100% !important;
    height: auto !important;
    overflow: hidden;
}